body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important
}

#imgMe{
    width:30vw;
}
img{
    width: 80vw;
}

@media all and (min-width: 768px){
    img { width: 40vw}

}

.hidden{
    display: none;
}


.tabColor{
    background-color: rgb(48, 182, 209) !important;
}

footer{
    background-color: #00D0FF;
}
table {
    width: 100%;
    border-collapse: collapse;
}

a{
    color: #9BC2FD
}

table>caption>span{
    font-size: .7rem;
}

td, th {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}

.primaryColor{
    background-color: #136172;
}

.clearfix {
  overflow: auto;
}